@font-face {
    font-family: 'Magic-font';
    src: url('HarryPotterRussianVersionofGfdtk.woff2') format('woff2'),
        url('HarryPotterRussianVersionofGfdtk.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

